<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <!--esta etiqueta es definida x el usuario y solo aqui funcionara veu-->
        <main>
            <table align="center" border="1">
                <thead>
                    <th>Nombre</th>
                    <th>Cedula</th>
                    <th>Teléfono</th>
                    <th>Edad</th>
                    <th>Condición</th>
                </thead>
                <tbody>
                    <!--item es la variable x la que quiero extraer mi variable
                    el idx es el indece del array-->
                    <tr v-for="(item, idx) in users">
                        <td>{{item.nombre}}</td>
                        <td>{{item.cedula}}</td>
                        <td>{{item.telefono}}</td>
                        <td>{{item.edad}}</td>
                        <td>
                            <b v-if="item.edad>1 && item.edad<18">Menor de Edad</b>
                            <b v-else-if="item.edad>=18">Mayor de Edad</b>
                            <b v-else>Valor indefinido</b>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <form @submit.prevent="createUser" style="margin-top: 50px">
                <input type="text" placeholder="nombre" v-model="objUser.nombre"/>
                <input type="text" placeholder="cedula" v-model="objUser.cedula"/>
                <input type="text" placeholder="telefono" v-model="objUser.telefono"/>
                <input type="text" placeholder="edad" v-model="objUser.edad"/>
                <input type="submit" value="Guardar"/>
            </form>
            <!--$DATA ES PARA IMPRIMIR TODOS LOS COMPONENTES DE MI VARIABLE
            {{ $data }}-->
        </main>
    </body>
    <script type="text/javascript">
    new Vue({
        //aqui hace referencia a la etiqueta main si pongo una etiqueta de este tipo todo lo que esta dentro
        //dentro de la etiqueta se renderiza como javascript
        el:'main',
        //en data van todas las variables que hacen que se ejecute el proceso
        data:{
            //array
            users:[],
            objUser:{'nombre':null,'cedula':null,'telefono':null,'edad':null}
        },
        methods:{
            createUser(){
                this.users.unshift(this.objUser);
                this.orderUser;
                this.objUser = {'nombre':null,'cedula':null,'telefono':null,'edad':null}
            }
        },
        computed:{
            orderUser(){
                //algoritmo sort
                return this.users.sort(function(a,b){
                    if(a.nombre > b.nombre){
                        return 1;
                    }
                    if(a.nombre < b.nombre){
                        return -1;
                    }
                    return 0;
                })
            }
        }
    });
    </script>
</html>